<h1 mat-dialog-title>Sobre</h1>
<div mat-dialog-content class="justify-content">
    <p></p>Este repositório faz parte de um projeto de conclusão de curso e tem por objetivo tornar acessíveis materiais relacionados ao ensino de pensamento computacional na educação básica.
    <br>Os materiais disponíveis são de livre acesso a todos e basta registrar-se para adicionar e gerenciar novos materiais.
    <br>Todas as atividades carregadas estão sujeitas a revisão e aprovação pelos administradores.
    <br><br>
    <div class="adjust-line"><mat-icon>mail_outline</mat-icon>⠀franciuine.almeida@ecomp.ufsm.br</div>
</div>