<h1 mat-dialog-title>{{title}}</h1>
<div mat-dialog-content>
    <form class="example-form" [formGroup]="activityForm">
        <!-- NOME DA ATIVIDADE -->
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Nome:</mat-label>
                <input matInput placeholder="Nome da atividade" formControlName="name" name="name">
                <mat-error *ngIf="!this.activityForm.valid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>           
        </div>
        <!-- DESCRIÇÃO DA ATIVIDADE -->
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Descrição:</mat-label>
                <input matInput placeholder="Breve descrição da atividade" formControlName="description" name="description">
            </mat-form-field>
        </div>
        <!-- NÍVEL DE ENSINO E COMPONENTE CURRICULAR -->
        <div class="row">
            <mat-form-field class="adjust-width">
                <mat-label>Nível de Ensino:</mat-label>
                <mat-select (ngModelChange)="handleComponents()" formControlName="educationLevel" name="educationLevel">
                    <mat-option *ngFor="let educationLevel of levels" [value]="educationLevel">
                        {{educationLevel.name}}
                    </mat-option>                 
                </mat-select>
                <mat-error *ngIf="!this.activityForm.valid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field class="adjust-width">
                <mat-label>Componente Curricular:</mat-label>
                <mat-select multiple formControlName="component" name="component">
                    <mat-option *ngFor="let component of components" [value]="component.name">
                        {{component.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!this.activityForm.valid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="adjust-width">
                <mat-label>Pilar:</mat-label>
                <mat-select formControlName="pillar" name="pillar">
                    <mat-option *ngFor="let pillar of pillars" [value]="pillar">
                        {{pillar.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!this.activityForm.valid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
            &nbsp;&nbsp;
            <mat-form-field class="adjust-width">
                <mat-label>Nível de adoção de tecnologia do docente:</mat-label>
                <mat-select formControlName="teacherLevel" name="teacherLevel">
                    <mat-option *ngFor="let teacherLevel of teacherLevels" [value]="teacherLevel">
                        {{teacherLevel.name}}
                    </mat-option>
                </mat-select>
                <mat-error *ngIf="!this.activityForm.valid">{{getErrorMessage()}}</mat-error>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Desenvolvimento:</mat-label>
                <textarea placeholder="Descrição de como a atividade deve ser aplicada." rows=5 matInput formControlName="tutorial" name="tutorial"></textarea>
                <mat-error *ngIf="!this.activityForm.valid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Avaliação:</mat-label>
                <textarea placeholder="Resultados esperados da atividade." rows=5 matInput formControlName="evaluation" name="evaluation"></textarea>
                <mat-error *ngIf="!this.activityForm.valid">{{getErrorMessage()}}</mat-error>
              </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field class="full-width">
                <mat-label>Habilidade da BNCC:</mat-label>
                <input matInput placeholder="A qual habilidade da BNCC a atividade está associada." formControlName="hability" name="hability">
            </mat-form-field>
        </div>
    </form>
    <input (change)="onFileSelected($event)" type="file" id="file">
</div>
<div mat-dialog-actions>
   <!-- <button class="left-align" mat-button (click)="uploadPdf()" type="file" id="file">Anexar material de apoio</button> -->
    <button mat-button (click)="cancel()">Cancelar</button>
    <button mat-raised-button color="primary" (click)="create()">Salvar</button>
</div>